# Aula 15 – Manipulando linhas com o Pandas

Objetivos: aprender como realizar `operações úteis com as linhas` de um dataframe pandas.
- https://didatica.tech/curso-de-python-para-machine-learning-e-ciencia-de-dados-gratuito/

In [1]:
import pandas as pd

# Dicionário com listas:
alunosDic = {'Nome':['Ricardo', 'Pedro', 'Roberto', 'carlos'],
         'Nota':[4, 7, 5.5, 9],
         'Aprovado':['Não', 'Sim', 'Não', 'Sim']}

In [2]:
# Transformar o dicionário em dataframe:
alunosDF = pd.DataFrame(alunosDic)

In [3]:
print(alunosDF)

      Nome  Nota Aprovado
0  Ricardo   4.0      Não
1    Pedro   7.0      Sim
2  Roberto   5.5      Não
3   carlos   9.0      Sim

In [4]:
primeiraslinhas = alunosDF.loc[0:2]

In [5]:
print(primeiraslinhas)

      Nome  Nota Aprovado
0  Ricardo   4.0      Não
1    Pedro   7.0      Sim
2  Roberto   5.5      Não

In [8]:
# Criando uma cópia do df:
alunosDFteste = alunosDF 
alunosDFteste

      Nome  Nota Aprovado
0  Ricardo   4.0      Não
1    Pedro   7.0      Sim
2  Roberto   5.5      Não
3   carlos   9.0      Sim

In [7]:
# linhas .loc:
novoDF = alunosDF.loc[alunosDF['Nota']!=9]

In [12]:
print("Dataframe: \n", novoDF)

Dataframe:
       Nome  Nota Aprovado
0  Ricardo   4.0      Não
1    Pedro   7.0      Sim
2  Roberto   5.5      Não

In [13]:
alunosReprovados = novoDF = alunosDF.loc[alunosDF['Aprovado']!='Sim']

In [14]:
print("Reprovados: \n", alunosReprovados)

Reprovados:
       Nome  Nota Aprovado
0  Ricardo   4.0      Não
2  Roberto   5.5      Não