#**Visualização de dados**
##- **Ocean** Alves

# Aula 1.1 _ Visualização de dados _ Dell _ Accessible Learning-13
- https://leadfortaleza.com.br/ead/courses/96601506629915/lessons/102192354397162/webaula/102192354399229

In [ ]:
import pandas as pd

In [ ]:
s = pd.Series([1,2,3,4,5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
s.values

array([1, 2, 3, 4, 5])

In [ ]:
s[3]

4

In [ ]:
s = pd.Series([15,20,12,16,10,11,12,15,9,10,12,17], index = ['jan','fev', 'mar',
'abr', 'mai', 'jun',
'jul', 'ago', 'set',
'out','nov', 'dez'])

In [ ]:
s

jan    15
fev    20
mar    12
abr    16
mai    10
jun    11
jul    12
ago    15
set     9
out    10
nov    12
dez    17
dtype: int64

In [ ]:
s['jan']

15

In [ ]:
s[0:6]

jan    15
fev    20
mar    12
abr    16
mai    10
jun    11
dtype: int64

In [ ]:
s.mean()

13.25

In [ ]:
s.std()

3.333712099692528

In [ ]:
s.max()

20

In [ ]:
s.min()

9

In [ ]:
s.describe()

count    12.000000
mean     13.250000
std       3.333712
min       9.000000
25%      10.750000
50%      12.000000
75%      15.250000
max      20.000000
dtype: float64

In [ ]:
df = pd.DataFrame({'Aluno' : ['Marina','Felipe','Cleyton','Isabel'],
                   'Créditos cursados': [20,64,32,24],
                   'Rendimento acadêmico' : [8.55,7.88,8.17,9.04],
                   'Mês de nascimento' : ['Novembro','Setembro','Janeiro','Julho'],
                   'Curso': ['Computação','Estatística','Computação','Matemática']})

In [ ]:
df

     Aluno  Créditos cursados  ...  Mês de nascimento        Curso
0   Marina                 20  ...           Novembro   Computação
1   Felipe                 64  ...           Setembro  Estatística
2  Cleyton                 32  ...            Janeiro   Computação
3   Isabel                 24  ...              Julho   Matemática

[4 rows x 5 columns]

In [ ]:
df.iloc[2]

Aluno                      Cleyton
Créditos cursados               32
Rendimento acadêmico          8.17
Mês de nascimento          Janeiro
Curso                   Computação
Name: 2, dtype: object

In [ ]:
df['Rendimento acadêmico']

0    8.55
1    7.88
2    8.17
3    9.04
Name: Rendimento acadêmico, dtype: float64

In [ ]:
df['Rendimento acadêmico'].mean()

8.41

In [ ]:
df.describe()

       Créditos cursados  Rendimento acadêmico
count           4.000000              4.000000
mean           35.000000              8.410000
std            19.966639              0.501664
min            20.000000              7.880000
25%            23.000000              8.097500
50%            28.000000              8.360000
75%            40.000000              8.672500
max            64.000000              9.040000

In [ ]:
df=pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/data/master/alcohol-consumption/drinks.csv')

In [ ]:
df.head(6)

             country  ...  total_litres_of_pure_alcohol
0        Afghanistan  ...                           0.0
1            Albania  ...                           4.9
2            Algeria  ...                           0.7
3            Andorra  ...                          12.4
4             Angola  ...                           5.9
5  Antigua & Barbuda  ...                           4.9

[6 rows x 5 columns]

In [ ]:
df[df['country'] == 'Brazil']

   country  beer_servings  ...  wine_servings  total_litres_of_pure_alcohol
23  Brazil            245  ...             16                           7.2

[1 rows x 5 columns]

In [ ]:
df[df['total_litres_of_pure_alcohol'] >= 12]

      country  beer_servings  ...  wine_servings  total_litres_of_pure_alcohol
3     Andorra            245  ...            312                          12.4
15    Belarus            142  ...             42                          14.4
98  Lithuania            343  ...             56                          12.9

[3 rows x 5 columns]

In [ ]:
df[df['total_litres_of_pure_alcohol'] == 0].head()

        country  beer_servings  ...  wine_servings  total_litres_of_pure_alcohol
0   Afghanistan              0  ...              0                           0.0
13   Bangladesh              0  ...              0                           0.0
46  North Korea              0  ...              0                           0.0
79         Iran              0  ...              0                           0.0
90       Kuwait              0  ...              0                           0.0

[5 rows x 5 columns]

In [ ]:
df.sort_values(by='wine_servings', ascending=False).head()

         country  beer_servings  ...  wine_servings  total_litres_of_pure_alcohol
61        France            127  ...            370                          11.8
136     Portugal            194  ...            339                          11.0
3        Andorra            245  ...            312                          12.4
166  Switzerland            185  ...            280                          10.2
48       Denmark            224  ...            278                          10.4

[5 rows x 5 columns]